h1 {
    text-align: center;
}

body {
    max-width: 80%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #063970;
    color: white;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
    min-height: 150px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: white;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    /*border-radius: 50%;*/
    margin-bottom: 10px;
}
.card h3 {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}
